table {
    width: 100%;
    margin-top: 10px;
  }

  th {
    width: 15%;
  }

  .filter {
    font-size: 14px;
    width: 100%;
  }

  .pointer{
    cursor: pointer;
  }

  .pasarela-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .pasarela-radio-button {
    margin: 2px;
  }